<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>දෙවනි බුදුන් ලෙස</h3>
    <div id="song-div" style="overflow-x:auto;">
        <!--<table>-->
            <!--<tr>-->
                <!--<td><span>Dm</span></td><td></td><td></td><td><span>C</span></td><td></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>දෙවනි</td><td>බුදුන්</td><td>ලෙස</td><td>ලොවම</td><td>උවම්</td> <td>කල</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Gm</span></td><td><span>Bb</span></td><td></td><td></td><td><span>Bm</span></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>ලොවක</td> <td>පිදුම්</td><td>ලද</td><td>ලොවක</td> <td>උතුම්</td><td>ළඳ</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Bb</span></td><td><span>Dm</span></td><td></td><td><span>F</span></td><td><span>C</span></td><td><span>Dm</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--<hr>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td><span>Dm</span></td><td></td><td><span>C</span></td><td></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>දෙසවන්</td><td>සනසා</td><td>මා</td><td>නැළවු </td><td>ඔබ</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Bm</span></td><td></td><td><span>C</span></td><td><span>Dm</span></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>මියුරු </td><td>මියැසියෙ</td> <td>අරුත</td> <td>කියා</td> <td>දුනි</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>F</span></td><td></td><td></td><td><span>Bm</span></td><td></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>ඒ</td> <td>මියසිය</td> <td>අද</td> <td>මා</td> <td>ගයනා</td> <td>විට</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>C</span></td><td></td><td><span>Bb</span></td><td></td><td><span>Dm</span></td><td></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>මා</td> <td>සිප</td> <td>ගන්නට</td> <td>ඔබ</td> <td>මා</td> <td>ළඟ</td> <td>නැත</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Bb</span></td><td><span>Dm</span></td><td></td><td><span>F</span></td><td><span>C</span></td><td><span>Dm</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td>-->
            <!--</tr>-->
        <!--</table>-->
            <!--<hr>-->
        <!--<table>-->
            <!--<tr>-->
                <!--<td><span>Dm</span></td><td></td><td></td><td><span>C</span></td><td></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>දෙවනි</td><td>බුදුන්</td><td>ලෙස</td><td>ලොවම</td><td>උවම්</td> <td>කල</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Gm</span></td><td><span>Bb</span></td><td></td><td></td><td><span>Bm</span></td><td></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>ලොවක</td> <td>පිදුම්</td><td>ලද</td><td>ලොවක</td> <td>උතුම්</td><td>ළඳ</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><span>Bb</span></td><td><span>Dm</span></td><td></td><td><span>F</span></td><td><span>C</span></td><td><span>Dm</span></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td><td>අම්මා</td><td>......</td>-->
            <!--</tr>-->
        <!--</table>-->

        <table>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>දෙවනි</td><td>බුදුන්</td><td>ලෙස</td><td>ලොවම</td><td>උවම්</td><td>කල</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>ලොවක</td><td>පිදුම්</td><td>ලද</td><td>ලොවක</td><td>උතුම්</td><td>ළඳ</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>අම්මා</td><td>......</td><td>අම්මා</td><td>.....</td><td>අම්මා</td><td>......</td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>දෙසවන්</td><td>සනසා</td><td>මා</td><td>නැළවු</td><td>ඔබ</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>මියුරු</td><td>මියැසියෙ</td><td>අරුත</td><td>කියා</td><td>දුනි</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>ඒ</td><td>මියසිය</td><td>අද</td><td>මා</td><td>ගයනා</td><td>විට</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>මා</td><td>සිප</td><td>ගන්නට</td><td>ඔබ</td><td>මා</td><td>ළඟ</td><td>නැත</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>අම්මා</td><td>......</td><td>අම්මා</td><td>.....</td><td>අම්මා</td><td>......</td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>ඇසට</td><td>හඩන්නට</td><td>කදුළැලි</td><td>දුන්</td><td>ඔබ</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>ළතැවුල්</td><td>දරනා</td><td>දිරිය</td><td>ලබාදුනි</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>ඒදිරියෙන්</td><td>ලොව</td><td>ජය</td><td>ලබනා</td><td>විට</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>මා</td><td>සිප</td><td>ගන්නට</td><td>ඔබ</td><td>මා</td><td>ළඟ</td><td>නැත</td>
            </tr>
            <tr>
                <td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td><td><span>Dm</span></td>
            </tr>
            <tr>
                <td>අම්මා</td><td>......</td><td>අම්මා</td><td>.....</td><td>අම්මා</td><td>......</td>
            </tr>
        </table>

    </div>
    <footer></footer>
</body>
</html>