
<chord-table base-chord="E"></chord-table>

<!--<a ng-click="octaveLower();">Lower</a>-->
<!--<a ng-click="octaveHigher();">Higher</a>-->


<!--<ng-chord chord-str="Em"></ng-chord>-->
<!--<ng-chord chord-str="G"></ng-chord>-->
<!--<ng-chord chord-str="D"></ng-chord>-->
<!--<ng-chord chord-str="Am"></ng-chord>-->
<!--<ng-chord chord-str="D"></ng-chord>-->
<!--<ng-chord chord-str="Em"></ng-chord>-->
<ng-chord chord-str="F#dim"></ng-chord>

<!--[Intro]-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<table>-->
    <!--<tr>-->
        <!--<td>|<ng-chord chord-str="Em"></ng-chord> </td> <td>|<ng-chord chord-str="B"></ng-chord> </td> <td>|<ng-chord chord-str="Em"></ng-chord> </td>  <td>|-   |</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>|<ng-chord chord-str="Em"></ng-chord> </td> <td>|<ng-chord chord-str="B"></ng-chord> </td> <td> |<ng-chord chord-str="Em"></ng-chord></td><td>  |-  </td><td> |</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>|<ng-chord chord-str="Em"></ng-chord> </td><td> |- </td><td>  |- </td><td>  |-  </td><td> |</td><td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>|- </td><td>  |<ng-chord chord-str="D"></ng-chord>  </td><td> |<ng-chord chord-str="Bm"></ng-chord> </td><td> |<ng-chord chord-str="Em"></ng-chord>  |</td><td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>|<ng-chord chord-str="D"></ng-chord> </td><td>  |<ng-chord chord-str="Em"></ng-chord> </td><td> |<ng-chord chord-str="D"></ng-chord> </td><td>  |<ng-chord chord-str="Em"></ng-chord> </td><td> |-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>|<ng-chord chord-str="Em"></ng-chord></td><td>  |- </td><td>  |- </td><td>  |- </td>  <td>|</td>-->
    <!--</tr>-->
<!--</table>-->

<!--[Chorus]-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<table>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="Em"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Sayurak </td><td>nodutu</td><td> gangulak</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="G"></ng-chord>   </td>     <td></td>      <td><ng-chord chord-str="D"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Kisida</td><td> galanne </td><td>na<td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="Am"></ng-chord>   </td>   <td></td>      <td><ng-chord chord-str="D"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Weralak </td><td>ahimi </td><td>sayurak</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td><td></td><td><ng-chord chord-str="Em"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Kisida</td><td> handanne </td><td>na</td>-->
    <!--</tr>-->
<!--</table>-->

<!--[Verse 1]-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<table>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="G"></ng-chord></td>     <td></td>          <td><ng-chord chord-str="C"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Kandulak</td> <td>noselu</td> <td>nethakin</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="Am"></ng-chord></td>             <td><ng-chord chord-str="Em"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Hasarel</td> <td>soyannepa //</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="Em"></ng-chord> </td><td>      (<ng-chord chord-str="F#Dim"></ng-chord>) </td><td><ng-chord chord-str="Am"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Lebunath</td> <td>bindunu</td> <td>hadakin</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><ng-chord chord-str="D"></ng-chord></td>       <td><ng-chord chord-str="Em"></ng-chord></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>Senehasa</td><td>soyannepa</td>-->
    <!--</tr>-->
<!--</table>-->

<!--[Verse 2]-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<ng-chord chord-str="G"></ng-chord>               <ng-chord chord-str="C"></ng-chord>-->
<!--Sisilak nomethi ahasin-->
<!--<ng-chord chord-str="Am"></ng-chord>                 <ng-chord chord-str="Em"></ng-chord>-->
<!--Wesi diya yadinna epa //-->
<!--<ng-chord chord-str="Em"></ng-chord>       (<ng-chord chord-str="F#Dim"></ng-chord>) <ng-chord chord-str="Am"></ng-chord>-->
<!--Lebunath bindunu hadakin-->
<!--<ng-chord chord-str="D"></ng-chord>        <ng-chord chord-str="Em"></ng-chord>-->
<!--Senehasa soyannepa-->
