.container{
  width:80%;
  display: block;
  margin: 20px;
}
#song-div{
  background-color: #eee !important;
  margin: 5px;
  border-radius: 6px;
}

h3{
  margin-left: 20px;
  font-size: 14px;
}

hr{
  clear: both;
  background-color: #00d4b4;
  height: 1px;
  border-width: 0;
  margin-left: 20px;
  margin-right: 20px;
}

footer{
  height: 50px;
}

.a {
  background-color: #4cae4c;
}

table{
  /*margin-top: 5px;*/
  /*margin-left: 30px;*/
  /*margin-right: 30px;*/
  /*background-color: #00b3ee;*/
  /*border: 1px solid black;*/
  border-collapse: collapse;
  /*width: 90%;*/
}
tr{
  /*border: 1px solid black;*/
  /*border-bottom: 1px solid #ddd;*/
}
tr:nth-child(even) {
  /*background-color: #f2f2f2;*/

}
tr:nth-child(odd) {
  /*background-color: #e3e3e3;*/
  line-height: 40px;
  color: #00b3ee;
}
td{
  padding-top: 4px;
  /*margin-right: 20px;*/
  /*border: 1px solid black;*/
  width:auto;
}

td span {
  color: #030301;
  border-radius: 10px;
  background-color: #00d4b4;
  padding: 5px;
}

/*Tablets/IPads Tables portrait landscape*/
@media only screen and (min-width: 961px) {
  .container{
    width:80%;
    transition: width 2s;
    margin:20px;
  }
  table{
    padding: 20px;
    margin:50px;
  }
  td {
    font-size: 22px;
    width:auto;
    white-space: nowrap;
    padding-right: 3px;
  }
  h3{
    font-size: 24px;
    margin-left:50px;
  }
}


/*Tablets/IPads Tables portrait landscape*/
@media only screen and (min-width: 768px) and (max-width: 960px) {
  .container{
    width:95%;
    transition: width 2s;
    margin:20px;
  }
  table{
    padding: 19px;
    margin:40px;
  }
  td {
    font-size: 21px;
    width:auto;
    white-space: nowrap;
    padding-right: 3px;
  }
  h3{
    font-size: 23px;
    margin-left:40px;
  }
}
/*Smaller Tables portrait landscape*/
@media only screen and (min-width: 569px) and (max-width: 767px) {
  .container{
    width:95%;
    transition: width 2s;
    margin:20px;
  }
  table{
    padding: 20px;
    margin:30px;
  }
  td {
    font-size: 16px;
    width:auto;
    white-space: nowrap;
    padding-right: 3px;
  }
  h3{
    font-size: 18px;
    margin-left:30px;
  }
}

/*Smart phones portrait landscape*/
@media only screen and (min-width: 240px) and (max-width: 568px) {
  .container{
    width:95%;
    transition: width 2s;
    margin:20px;
    min-width: 242px;
  }
  table{
    padding: 20px;
    margin: 20px;
  }
  td {
    font-size: 13px;
    width:auto;
    white-space: nowrap;
    padding-right: 3px;
  }
  h3{
    font-size: 15px;
    margin-left: 20px;
  }
}